{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CPP Open Classroom Finder</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>CPP Open Classroom Finder</h1>
      <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="row">{{ form.day}} {{form.start_time}} {{form.end_time}}</div>
        <button type="submit">Submit</button>
      </form>
      <div class="header">
        {% if classes %}
        <h2>Number of Classrooms Available: {{ classes_count }}</h2>
        {% endif %}
      </div>
      <div class="class-list">
        {% for building, room_list in classes.items %}
            <h2>Building {{ building }}</h2>
              {% for room in room_list %}
                <p>Room: {{ room }}</p>
              {% endfor %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
